<div id="<%= dom_id cow %>">
  <p>
    <strong>Name:</strong>
    <%= cow.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= cow.age %>
  </p>

  <p>
    <strong>Farmer:</strong>
    <%= cow.farmer_id %>
  </p>

</div>
